*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;

    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

#instructions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    line-height: 100vh;
    pointer-events: none; 
    -webkit-animation: fade infinite 3s;
    animation: fade infinite 3s;
    -moz-animation: fade infinite 3s;
    -o-animation: fade infinite 3s;
}

@keyframes fade {
    0% {opacity: 0.8} 
    50% {opacity: 0}
    100%{opacity: 0.8}
      }